.layout {
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 50px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.content {
  padding: 24px 50px;
  min-height: calc(100vh - 134px);
}

.content-inner {
  background: white;
  padding: 24px;
  border-radius: 8px;
  min-height: 100%;
  width: 100%;
}

.footer {
  text-align: center;
}
